* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #ef5350;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

input {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    border: none;
    background: #ef5350;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #d32f2f;
}

#card{
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
}

#card img{
    width: 150px;
}